.Card{
    display:grid;
    row-gap:20px;
}
.Card > span{
    align-self: end;
  justify-self: end;
}

.english{
  color:orange;
  font-size:15px;
}

p{
  color:purple;
  font-size:30px;
}

.btn{
  width:150px;
  height: 150px;
  color:green;
}
