.Card{
    display:grid;
    row-gap:20px;
}
.Card > span{
    align-self: end;
  justify-self: end;
}

.english{
  color:orange;
  font-size:small;
}

p{
  
  font-size:x-large;
}

.btn{
  width:150px;
  height: 150px;
  color:green;
}

.btn1{
  display: inline-block;
  width:50%;
  padding:10px 0;
  margin:10px 0;
  text-align: center;
  background: skyblue;
  font-weight:bold;
  color:pink;
  aspect-ratio: 1/1;
  font-size:xx-large;


}

.parent{
  width:auto;
  text-align:center;
  
}

h1{
  text-align:center;
}

#inputtag{
  width:50%;
  padding:10px;
  margin:10px;
  font-size:large;
}

#outputtag{
  width:50%;
  padding:10px;
  margin:10px;
  font-size:large;
}

.btnlist{
  display:inline-block;
  width:30%;
  background:yellow;
  color:brown;
  aspect-ratio: 1 / 1;
  font-size:x-large;
}

div{
  text-align:center;
}

h2{
  text-align:center;
}